<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>nrvparks.com - About</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding fullscreen>
    <p>Developed by <a target="_blank" href="https://www.codefornrv.org/">Code for NRV</a> to help citizens find local parks.</p>
    <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSee-1SxV8zA9WbF1hR-JGmwoHJ02ICBLmOT9eZGLsL3k5n8CQ/viewform">Contact us</a></p>
  </ion-content>