@import 'leaflet.css';

page-home {
    #mapid { 
        height: 100%; 
        width: 100%; 
        position: absolute;
        top: 0;
        left: 0;
    }

    #searchLabel {
        display:none;
    }
}

ion-header {
    display: hidden !important;
    opacity: 0.8;
    position: relative;
    float: top !important;
}